{% extends 'auth.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <!-- Page -->
    <div class="flex items-center justify-center grow bg-center bg-no-repeat page-bg">
        <div class="card max-w-[370px] w-full">
            <!-- Formulaire d'inscription -->
            <form action="{{ path('app_register') }}" method="post" class="card-body flex flex-col gap-5 p-10" id="sign_up_form">
                {{ form_start(registrationForm) }} <!-- Ouvre le formulaire -->

                <div class="text-center mb-2.5">
                    <h3 class="text-lg font-medium text-gray-900 leading-none mb-2.5">
                        Inscription
                    </h3>
                    <div class="flex items-center justify-center">
                        <span class="text-2sm text-gray-700 me-1.5">
                            Vous avez déjà un compte ?
                        </span>
                        <a class="text-2sm link" href="{{ path('auth.login') }}">
                            Me connecter
                        </a>
                    </div>
                </div>

                <!-- Email -->
                <div class="flex flex-col gap-1">
                    {{ form_row(registrationForm.email, {
                        'attr': {'class': 'input'}
                    }) }}
                </div>

                <!-- Mot de passe -->
                <div class="flex flex-col gap-1">
                        {{ form_row(registrationForm.plainPassword, {
                            'attr': {'class': 'input', 'placeholder': 'Mot de passe'}
                        }) }}
                </div>
                
                <!-- 
                        Toggle password visibility 

                <button class="btn btn-icon" data-toggle-password-trigger="true" type="button">
                        <i class="ki-filled ki-eye text-gray-500 toggle-password-active:hidden"></i>
                        <i class="ki-filled ki-eye-slash text-gray-500 hidden toggle-password-active:block"></i>
                </button>

                -->

                <!-- Conditions d'utilisation -->
                <label class="checkbox-group">
                    {{ form_row(registrationForm.agreeTerms, {
                        'attr': {'class': 'checkbox checkbox-sm'}
                    }) }}
                    <span class="checkbox-label">
                        J'accepte les <a class="text-2sm link" href="#">GCU</a>
                    </span>
                </label>

                <!-- Bouton d'envoi -->
                <button class="btn btn-primary flex justify-center grow">Inscription</button>

                {{ form_end(registrationForm) }} <!-- Ferme le formulaire -->
            </form>
        </div>
    </div>
    <!-- End of Page -->
{% endblock %}
